body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f8faec;
  font-family: Inter, sans-serif;
}

/* common  */
.section:not(#navbar) {
  width: 100%;
  height: 100vh;
}

/* navbar */
#navbar {
  width: 100%;
  height: 4rem;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navList {
  width: 60vw;
  height: auto;
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}
.navLink {
  color: #213c7b;
  text-decoration: none;
  font-weight: 600;
}
.navLink:hover {
  cursor: pointer;
  color: #2c4580d0;
}
.navLink {
  width: auto;
  height: auto;
  padding: 10px 24px;
  border-radius: 8px;
}
.link5 {
  background-color: #ffb800;
}
#navLogo h5 {
  color: #213c7b;
  margin-left: 4rem;
  font-size: x-large;
}

/* hero section */
#hero {
  display: flex;
}

#hero .part1 {
  width: 50%;
  padding: 15vh 0 0 4rem;
}
#hero .part1 h1 {
  font-size: xxx-large;
  font-weight: 400;
  color: #213c7b;
}
#hero .part1 p {
  font-size: large;
  margin-bottom: 1rem;
  margin-top: 4rem;
}
#hero .part2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heroImg {
  width: 264px;
  height: 253px;
  border-radius: 50%;
  object-fit: none;
  box-shadow: grey 18px 13px 30px 10px;
}

#hero .btn {
  width: auto;
  height: auto;
  padding: 12px 25px;
  border-radius: 3px;
  margin: 1rem;
  font-size: medium;
}
#hero .btn1 {
  color: white;
  background-color: #213c7b;
  border: 2px solid #213c7b;
  margin-left: 0;
}
#hero .btn2 {
  color: #213c7b;
  border: 2px solid #213c7b;
}

#hero .btn1:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #213c7b;
}

#hero .btn2:hover {
  color: white;
  background-color: #213c7b;
}

/* company section */

#company {
  background-color: #ffffff;
  padding: 13vh 0 0 0;
  border-top: 3px solid #8494b7;
}
.compLogo {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.compHeading {
  font-size: xxx-large;
  font-weight: 400;
  color: #213c7b;
  text-align: center;
}
.compLogo img {
  width: 22%;
  height: 3rem;
  padding: 0px 10px;
}

#company .content {
  display: flex;
  width: 100%;
  height: 20rem;
  justify-content: center;
  align-items: center;
}
#company .para {
  width: 20rem;
  font-size: x-large;
}
.compImg {
  width: 14rem;
  border: 2px solid #213e62;
  border-radius: 50%;
  margin-right: 2rem;
}

/* About section */
#about {
  display: flex;
  justify-content: center;
  background-color: #dfe2e9;
  height: 100vh;
}

.aboutImg {
  width: 27rem;
  height: 28rem;
}
.aboutContent {
  padding: 0 5rem;
}
.aboutContent,
.aboutImg {
  align-self: center;
}

.aboutImg {
  padding: 1rem 0 0 4rem;
}

.aboutContent h1 {
  font-size: xxx-large;
  color: #213c7b;
  font-weight: 400;
}
.aboutContent p {
  font-size: large;
  font-weight: 200;
}

.aboutContent button {
  width: 9rem;
  height: 3rem;
  border-radius: 3px;
  background-color: #213c7b;
  border: 2px solid #213c7b;
  color: white;
  font-size: medium;
  margin-top: 2rem;
}

.aboutContent button:hover {
  background-color: white;
  color: #213e62;
  font-weight: 500;
  animation: btn 2s;
}

@keyframes btn {
  100%,
  0% {
  }
  50% {
    transition: ease 1s;
  }
}

/* Working */
#working {
  width: 100%;
  background-color: #ffb600;
  display: flex;
  justify-content: center;
  align-items: center;
}

#working .working_context {
  color: #213c7b;
}

#working #yellow_box {
  height: 87vh;
  width: 94vw;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 8px #757575;
}

#working .working_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
#working .working_img img {
  width: 18rem;
  margin-right: 4rem;
}

#working .working_context {
  margin-left: 3rem;
}
#working .working_context h1 {
  font-size: xxx-large;
  font-weight: 400;
}
#working .working_context p {
  font-size: large;
  font-weight: 500;
  line-height: 28px;
  padding-right: 5rem;
}
#working .working_context ul {
  font-size: larger;
  line-height: 24px;
}

#working .working_context button {
  height: 3rem;
  width: 11rem;
  padding: 20px, 90px;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  border-radius: 3px;
  background-color: #213c7b;
  border: 2px solid #213c7b;
  color: white;
  font-size: medium;
}

#working .working_context button:hover {
  background-color: white;
  color: #213e62;
  font-weight: 500;
  animation: btn 2s;
}

#working .working_context ul li {
  list-style-type: none;
  font-size: larger;
  line-height: 30px;
}

#working .working_context ul li::before {
  background-image: url(assest/yellow_tick.svg);
  background-size: 17px 17px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 17px;
  height: 17px;
  content: "";
  margin-right: 10px;
}
